*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg, #260bee, #ff0000);

}
.calculator{
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: #00047e;
    box-shadow: -5px -5px 100px yellow;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    box-shadow: -2px -2px 16px yellow;
    cursor: pointer;
    font-size: 20px;
    border: none;
}

#inputBox{
    text-align: right;
    width: 315px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    background: transparent;
    border: 1px solid yellow;
    color: white;
}
input::placeholder{
    color: white;
}
.operator{
    color: #d0ff00;
}
.equalBtn{
    background-color: red;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
